<div>
    <nav class="navbar bg-body-tertiary position-fixed shadow navbar-sticky">
        <div class="container">
            <a class="navbar-brand">
                <img src="/logos/vanti-logo.webp" class="img-fluid w-75" alt="logo vanti">
            </a>
            <span class="h-100 fs-3 cursor-pointer" (click)="logout()">
                <i class="bi bi-door-closed"></i>
            </span>
        </div>
    </nav>
    <div class="container mt-5 pt-5 d-flex justify-content-center align-items-center" style="height: 90vh;">
        <router-outlet></router-outlet>
    </div>
</div>